body {
  background: #ffffff;
  // max-width: 1440px;
  margin: 0 auto;
  color: #252c32;
  @include regular;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #F6FCFF;
}
